<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">天气</div>
      <div class="item item-body">
        <div>
          今天天气不错 <b>阳光明媚</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">饮食</div>
      <div class="item item-body">
        <div>
          早上喝了一杯小米粥
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">工作</div>
      <div class="item item-body">
        <div>
          你有 <b>3</b> 信息待处理
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
